@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  font-family: Quicksand;
  max-width: 1160px;
  margin: 20px auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo h1 {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

nav a {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
}

#li-1 {
  color: rgb(254, 163, 1);
  font-weight: 700;
}

#li-2 {
  color: rgb(1, 172, 253);
}

#li-3 {
  color: rgb(5, 212, 223);
}

#li-4 {
  color: rgb(93, 88, 239);
}

nav button {
  border: none;
  border-radius: 12px;
  background: rgb(254, 163, 1);
  color: #fff;
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 50px;
}

.menu-btn {
  display: none;
}

hr {
  display: none;
  border: 1px solid rgb(254, 163, 1);
}

/* BANNER */

.banner {
  max-width: 1160px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-title h1 {
  font-family: Quicksand;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 61px;
  padding-bottom: 24px;
}

.banner-title-color-1 {
  color: rgb(254, 163, 1);
}

.banner-title-color-2 {
  color: rgb(1, 172, 253);
}

.banner-title p {
  color: rgb(17, 17, 17);
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 24px;
  padding-right: 10%;
}

.banner-title button {
  border: none;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: #fff;
  font-family: Quicksand;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 10px 50px;
}

/* RESPONSIVE: MOBILE DEVICE */

@media screen and (max-width: 576px) {
  /* HEADER */
  header {
    padding: 0px 16px;
  }

  .logo h1 {
    display: none;
  }

  nav ul {
    display: none;
  }

  nav button {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  hr {
    display: block;
  }

  /* BANNER */
  .banner {
    flex-direction: column-reverse;
    margin-top: 50px;
  }

  .banner-img img {
    width: 100%;
  }

  .banner-title {
    text-align: center;
    padding-top: 40px;
  }

  .banner-title p {
    padding-right: 0%;
  }
}
